html {
  scroll-behavior: smooth;
}

.page {
  background-color: rgb(158, 0, 119);
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding-left: 15%;
  padding-right: 15%;
  background-color: rgb(204, 52, 52);
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1rem;
}

.about-me {
  background-color: rgb(8, 177, 73);
}

.education {
  background-color: rgb(227, 230, 57);
}

.skills {
  background-color: rgb(6, 203, 230);
}

.contact-me {
  background-color: rgb(158, 0, 119);
}

.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.my_photo {
  max-height: 15em;
}

.section {
  padding-top: 4.5rem;
}

.institute {
  color: black;
  font-weight: 600;
}

.institute:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: black;
}

.icon {
  max-height: 8em;
  padding-top: 2rem;
}

.social-div {
  margin-left: 0;
}

.social {
  max-height: 5em;
  padding-top: 2rem;
  padding-right: 2rem;
}
