body {
  background-image: url(background.jfif);
}
.page {
  padding: 0;
}

.section {
  font-size: 1.2rem;
  font-family: "Nobile";
}

.section > h1 {
  font-size: 2.2rem;
  font-family: "Paytone One";
}

.navbar {
  font-family: "Notable";
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 3% 15%;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(219, 59, 59);
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    background-color: rgb(219, 59, 59);
  }
}
.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1rem;
}

.background {
  background-color: rgb(214, 186, 186);
  margin-bottom: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
}

.photo-background {
  padding: 10px 0 !important;
  margin: 0;
}
.hbackground {
  background-color: rgb(223, 215, 215);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  padding: 10px;
}

.sbackground {
  border-radius: 0 !important;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.institute {
  color: black;
  font-weight: 600;
}

.institute:hover {
  text-decoration: underline;
  font-size: 1.3rem;
  color: black;
}

.icon {
  max-height: 8em;
  padding-bottom: 2rem;
}

.social-div {
  margin-left: 0;
}

.social {
  max-height: 5em;
  padding-top: 2rem;
  padding-right: 2rem;
}

.fab {
  color: black;
  font-size: 48px;
}

.fab:hover {
  font-size: 50px;
}

@media only screen and (max-width: 575px) {
  .icon {
    max-height: fit-content;
  }

  .social {
    max-height: 5rem;
  }
}

@media only screen and (min-width: 767px) {
  .about-me-div {
    padding-right: 0;
  }

  .my_photo_div {
    padding-left: 0;
  }

  .my_photo {
    max-height: 15em;
  }
}
@media only screen and (max-width: 378px) {
  .navbar-brand {
    font-size: 18px !important;
  }

  @media only screen and (max-width: 350px) {
    .navbar-brand {
      font-size: 16px !important;
    }
  }
  @media only screen and (max-width: 322px) {
    .navbar-brand {
      font-size: 14px !important;
    }
  }
  @media only screen and (max-width: 295px) {
    .navbar-brand {
      font-size: 12px !important;
    }
  }
}
