html {
    scroll-behavior: smooth;
  }

body {
  background-color: rgb(204, 52, 52);
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(204, 52, 52);
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.my_photo {
  max-height: 15em;
}

.section {
  padding-top: 4.5rem;
}

.institute{
    color: black;
    font-weight:600;
}

.institute:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

.icon{
    max-height: 10em;
    padding-top: 2rem;
}

.social{
    max-height: 5em;
    padding-top: 2rem;
}